#contacts {
  padding: 1rem 3rem;
  background: #274c76;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .contacts__rights {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
