#about {
  display: flex;
  padding: 3rem 3rem 0;
  background: linear-gradient(340deg, #f2dcc5, #fff) fixed;

  @media (max-width: 376px) {
    flex-direction: column;
    padding: 1rem 2rem 0;
  }

  .about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @media (max-width: 376px) {
      width: 100%;
    }

    .about__status {
      font-size: 1.2rem;
      font-weight: 600;

      @media (max-width: 376px) {
        text-align: center;
      }
    }

    .about__header {
      font-size: 3rem;
      margin: 1.5rem 0;
      color: #274c76;
      font-weight: 700;

      @media (max-width: 376px) {
        margin: 0.5rem 0;
        font-size: 2.8rem;
        text-align: center;
      }
    }

    .about__subheader {
      font-size: 1.5rem;

      @media (max-width: 376px) {
        margin-top: 22rem;
        text-align: center;
      }
    }

    .about__communications {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      @media (max-width: 376px) {
        flex-direction: column;
      }

      .about__sessions_block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about__sessions {
          display: flex;
          margin: 1rem 0;

          img {
            width: 3rem;
            margin: 0 1rem;
          }
        }
      }

      .about__btn {
        background-color: #b66144;
        color: #fff;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        height: 4rem;
        width: 21rem;
        font-size: 1.35rem;
        border-radius: 10px;

        &:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
        }

        @media (max-width: 376px) {
          font-size: 1.25rem;
          width: 17rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .about__photo {
    width: 50%;

    @media (max-width: 376px) {
      width: calc(100% - 4rem);
      position: absolute;
      top: 40%;
    }

    img {
      width: 100%;
    }
  }
}
