#faq {
  padding: 1rem 3rem 2rem;
  background: linear-gradient(340deg, #f2dcc5, #fff) fixed;
}

.faq__directions {
  font-size: 1.15rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: 767px) {
    margin-top: 2rem;
  }

  img {
    width: 2rem;
    height: 2rem;
  }
}
